@import "../abstracts/mixins";
@import "../abstracts/variables";

.calendar_area {
  @include grid;
  grid-template-rows: 35px 1fr;
}

.calendar_header{
  @include grid;
  grid-template-columns: 25px 1fr 25px;
  font-size: 90%;
}

.calendar_body {
  @include grid;
  grid-template-columns: repeat(7, 1fr);

  div {
    height: 35px;
    font-size: 90%;

    &.date {
      font-size: 85%;
    }

    &.today {
      color: red;
    }
  }
}