.item_mngEmp {
    grid-template-rows: 35px 1fr;

    .mngEmp_header {
        @include grid;
        grid-template-columns: repeat(3, 80px) 1fr;
        border-bottom: 1px solid $border-default;
        text-align: center;
        line-height: 35px;
        color: $text-gray;
        transition: all 0.7s;

        span {
            @include cursor-pointer;

            &.focus {
                color: $text-default;
                font-weight: 900;
                border-bottom: 2px solid $primary;
                transform: translateY(-2px);
            }
        }

    }

    .mngEmp_body {
        &>div {
            grid-gap: 5px;
            display: none;
            visibility: hidden;
            margin-top: 20px;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.7s;

            &.focus {
                visibility: visible;
                @include grid;
                grid-template-rows: 1fr;
                opacity: 1;
                animation: ani_slideUp 1s 1;
                animation-fill-mode: both;

                @include respond-to("medium") {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }

        .empList_area {
            @include grid;
            grid-template-columns: 50px 1fr 100px;
            height: 50px;
            line-height: 50px;
            border-radius: 10px;
            border: 1px solid $border-default;

            div {
                text-align: center;
            }

            img {
                @include trans-All;
            }

            button {
                @include trans-middle;
                margin-right: 2px;
                padding: 0 5px;
                width: 40px;
                font-size: 90%;
            }
        }

        .approvalEmpInfo_area {

            &>div {
                @include grid;
                grid-template-columns: 150px 1fr;
                height: 50px;
                border-bottom: 1px solid $background-default;
                line-height: 50px;
                font-size: 90%;

                span {
                    color: $text-gray;
                }

                .temp {
                    @include grid;
                    grid-template-columns: 2fr 150px 1fr 15px 1fr 60px;
                    width: 90%;
                    max-width: 450px;
                    border: 1px solid $border-default;
                    border-radius: 10px;
                    text-align: center;
                    color: $text-default;
                    @include cursor-pointer;

                    &:hover {
                        background: $background-default;
                    }

                    .fa-sort-desc {
                        font-size: 120%;
                        transform: translateY(-3px);
                    }

                    .sftDay {
                        @include grid;
                        grid-template-columns: repeat(7, 1fr);

                        span.work {
                            color: $primary;
                        }
                    }
                }

                .dropToggle {
                    position: relative;
                }
                
                .dropMenu {
                    // display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: red;
                }
            }

            &.focus {
                @include respond-to("medium") {
                    grid-template-columns: 1fr;
                }
            }

            input[type="radio"] {
                &+label {
                    display: inline-block;
                    width: 60px;
                    color: $text-gray;
                    transition: all 0.5s;

                    &:hover {
                        color: $text-default;
                        font-weight: 900;
                    }
                }

                &:checked+label {
                    color: $primary;
                    font-weight: 900;
                }
            }

            .inptIcon_area {
                position: relative;

                span {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .busShift_area {
                background: red;
                text-align: center;

                .sftItem {
                    @include grid;
                    grid-template-columns: 1fr 2fr 1fr 1fr;
                }

                .workDay {
                    border: 1px solid $secondary;
                    border-radius: 5px;
                }
            }
        }
    }
}