@import "../abstracts/mixins";
@import "../abstracts/variables";

#wrap {
  @include flex;
  width: 100%;
}

input[class="ly"] {
  display: none;

  &+label {
    @include label-bg;
  }
}

input[id="ck_snb"]:checked {
  &~.snb {
    transform: translateX(0);
  }

  &+label {
    visibility: visible;
    opacity: 1;
  }
}

input[id="ck_chat"]:checked {
  &~.chat {
    transform: translateX(0);
  }

  &+label {
    visibility: visible;
    opacity: 1;
  }
}

.snb {
  position: fixed;
  top: 0;
  left: 0;
  width: 210px;
  height: 100vh;
  background: $aside-bg;
  transform: translateX(-101%);
  transition: transform 0.7s;
  z-index: 200;

  @include respond-to("large") {
    position: sticky;
    transform: translateX(0);
  }

  nav {
    @include grid;
    grid-template-rows: 100px 70px 1fr;
    margin: 0 auto;
    padding: 80px 0;

    img {
      margin-left: -13px;
      @include trans-center;
    }

    span {
      display: block;
      margin-left: -25px;
      line-height: 50px;
      text-align: center;
      font-size: 120%;
      color: #D8DCDF;
    }

    ul {
      li {
        $snb_height: 30px;
        display: block;
        margin-bottom: 5px;
        padding: 7px 30px;
        height: $snb_height;
        line-height: $snb_height;
        transition: background 0.5s;

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          color: #7C7F92;

          i {
            margin-right: 10px;
          }
        }

        &:hover {
          border-left: 5px solid $primary-dark;
          background: #4F5269;

          a {
            color: #D8DCDF;
            transform: translateX(-5px);
          }
        }

        &.focus {
          border-left: 5px solid $primary-dark;
          background: #4F5269;

          a {
            color: #D8DCDF;
            transform: translateX(-5px);
          }
        }
      }
    }
  }

  .snb_profile {
    border: 3px solid $white;
    @include circle(100px);
    box-sizing: border-box;
  }
}

.container_main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: $background-default;

  @include respond-to("large") {
    flex: 1 1 0;
  }
}

.gnb_main {
  $gnb_height: 60px;
  z-index: 100;
  @include grid;
  grid-template-columns: 45px 160px repeat(3, 35px) 1fr;
  grid-template-rows: $gnb_height;
  position: sticky;
  top: 0;
  width: 100%;
  height: $gnb_height;
  border-bottom: 1px solid $border-default;
  background: $background-default;

  @include respond-to("medium") {
    grid-template-columns: 45px 1fr repeat(3, 43px) 45px;
  }

  @include respond-to("large") {
    grid-template-columns: 45px 1fr repeat(3, 43px) 70px;
  }

  &>div {
    text-align: center;
    line-height: $gnb_height;

    &.busList_area {
      text-align: left;

      h1 {
        overflow: hidden;
        height: 60px;
        white-space: nowrap;
        font-size: 120%;
        text-align: left;
        text-overflow: ellipsis;
        @include cursor-pointer;
      }

      .dropdown_menu {
        background: $white;
        padding-left: 20px;
        width: 250px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        @include shadow;
      }
    }

    i {
      color: #C2C7D8;
      font-size: 120%;
      transition: all 0.7s;
      @include cursor-pointer;

      &:hover {
        color: #8A8EA5;
      }

      &.focus {
        color: $primary;
      }
    }
  }

  label {
    @include respond-to("large") {
      display: none;
    }
  }
}

#content {
  @include grid;
  justify-items: center;
  margin: 20px auto;
  width: 90%;
}

.content_main {
  grid-template-columns: 1fr;
  grid-auto-flow: row dense;
  grid-gap: 20px;
  justify-items: start;

  @include respond-to("large") {
    grid-template-columns: repeat(3, 1fr);

    .small {
      grid-column-end: span 1;
    }

    .medium {
      grid-column-end: span 2;
    }

    .large {
      grid-column-end: span 3;
    }
  }
}

.item {
  @include grid;
  grid-template-rows: 40px 1fr;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: $item-bg;
  @include shadow-flat;

  .item_header {
    $title-height: 60px;
    padding: 0 20px;
    width: 100%;
    height: $title-height;
    line-height: $title-height;
    box-sizing: border-box;

    @include respond-to("medium") {
      padding: 0 30px;
    }
  }

  .item_body {
    @include grid;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 100px;
    box-sizing: border-box;

    @include respond-to("medium") {
      padding: 20px 50px;
    }
  }
}

.item_profile {
  border: 3px solid $white;
  @include circle(34px);
}

.chat {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background: $aside-bg;
  transform: translateX(101%);
  transition: transform 0.7s;
  z-index: 200;

  .chat_header {
    @include grid;
    grid-template-columns: repeat(2, 80px) 1fr;
    border-bottom: 1px solid #575972;
    text-align: center;
    line-height: 40px;
    color: $text-gray;
    transition: all 0.7s;

    span {
      @include cursor-pointer;

      &.focus {
        color: $text-default;
        font-weight: 900;
        border-bottom: 2px solid $primary;
        color: $white;
      }
    }
  }

  .chat_body {

    &>div {
      display: none;
      visibility: hidden;
      // width: 100%;
      // height: 100%;
      opacity: 0;
      transition: all 0.7s;

      &.focus {
        visibility: visible;
        @include grid;
        opacity: 1;
      }
    }

    .chatList_area {
      div {
        padding: 20px;
        width: 90%;
        height: 20px;
        @include cursor-pointer;
        background: $background-default;
      }
    }

    .chatRoom_area {
      grid-template-columns: 150px 1fr;

      .chatEmp_area {
        div {
          height: 30px;
        }
      }

      .chat2 {
        @include grid;
        grid-template-rows: 1fr 170px;
        height: 100vh;

        .chatMsg_area {
          overflow-y: auto;
          @include scroll($aside-bg);

          .row,
          .mySelf {
            padding: 5px;
            margin: 10px 0;
            width: 95%;
            border-radius: 10px;
            background: #7a79b2;
            color: $white;

            h5 {
              margin-bottom: 10px;
              font-size: 90%;
              font-weight: normal;

              span {
                font-size: 90%;
              }
            }

            img {
              @include circle(30px);
              margin-left: 5px;
              margin-right: 10px;
              transform: translateY(3px);
            }
          }

          .mySelf {
            background: #c9799c;
          }

        }

        .chatMsg_enter {
          textarea {
            width: 90%;
            border-radius: 10px;
            background: $background-default;
            resize: none;
          }
        }
      }
    }
  }
}

#chat_area {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  width: 400px;
  height: 400px;
  background: $secondary;
  transform: translate(-50%, -50%);

  .chatList_area {
    @include grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;

    .chatListItem_area {
      width: 100%;
      height: 50px;
      @include style-modal;
    }
  }
}

#btn_chatting {
  z-index: 50;
  position: fixed;
  bottom: 50px;
  right: 50px;
  @include circle(50px);
  box-sizing: border-box;
  border: 3px solid $white;
  background: #E3BA73;
  color: $white;
  font-size: 130%;
  @include shadow-flat;

  i {
    @include trans-All;
  }
}