@import "../abstracts/mixins";
@import "../abstracts/variables";

#wrap {
  @include flex;
  width: 100%;
}

input[class="ly"] {
  display: none;
  &+label {
    @include label-bg;
  }
}

input[id="ck_snb"]:checked {
  &~.snb {
    transform: translateX(0);
  }

  &+label {
    visibility: visible;
    opacity: 1;
  }
}

.snb {
  position: fixed;
  top: 0;
  left: 0;
  width: 210px;
  height: 100vh;
  border-right: 1px solid $border-default;
  background: $aside-bg;
  transform: translateX(-100%);
  transition: transform 0.7s;
  z-index: 5;

  @include respond-to("large") {
    position: sticky;
    transform: translateX(0);
  }

  .snb_profile {
    border: 2px solid $white;
    @include circle(100px);
    @include shadow;
  }
}

.container_main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: $background-default;

  @include respond-to("large") {
    flex: 1 1 0;
  }
}

.gnb_main {
  $gnb_height: 60px;
  @include grid;
  grid-template-columns: 45px 160px repeat(3, 35px) 1fr;
  grid-template-rows: $gnb_height;
  position: sticky;
  top: 0;
  width: 100%;
  height: $gnb_height;
  border-bottom: 1px solid $border-default;
  background: $background-default;

  @include respond-to("medium") {
    grid-template-columns: 45px 1fr repeat(3, 43px) 45px;
  }

  @include respond-to("large") {
    grid-template-columns: 45px 1fr repeat(3, 43px) 70px;
  }

  &>div {
    text-align: center;
    line-height: $gnb_height;

    &.busList_area {
      text-align: left;

      h1 {
        overflow: hidden;
        height: 60px;
        white-space: nowrap;
        font-size: 120%;
        text-align: left;
        text-overflow: ellipsis;
        @include cursor-pointer;

        &:hover>i {
          color: $primary;
        }
      }
    }

    i {
      color: $text-gray;
      font-size: 120%;
      transition: all 0.7s;
      @include cursor-pointer;

      &:hover {
        color: $primary;
      }
    }
  }

  label {
    @include respond-to("large") {
      display: none;
    }
  }
}

#content {
  @include grid;
  justify-items: center;
  margin: 20px auto;
  width: 90%;
}

.content_main {
  grid-template-columns: 1fr;
  grid-auto-flow: row dense;
  grid-gap: 20px;
  justify-items: start;

  @include respond-to("large") {
    grid-template-columns: repeat(3, 1fr);

    .small {
      grid-column-end: span 1;
    }

    .medium {
      grid-column-end: span 2;
    }

    .large {
      grid-column-end: span 3;
    }
  }
}

.item {
  @include grid;
  grid-template-rows: 40px 1fr;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: $white;
  @include shadow;

  .item_header {
    $title-height: 60px;
    padding: 0 20px;
    width: 100%;
    height: $title-height;
    line-height: $title-height;
    box-sizing: border-box;
    // background: blue;
    @include respond-to("medium") {
      padding: 0 30px;
    }
  }

  .item_body {
    @include grid;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 100px;
    box-sizing: border-box;
    @include respond-to("medium") {
      padding: 20px 50px;
    }
  }
}

.item_profile {
  border: 3px solid $white;
  @include circle(34px);
}

#chat_area {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  width: 400px;
  height: 400px;
  background: $secondary;
  transform: translate(-50%, -50%);

  .chatList_area {
    @include grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;

    .chatListItem_area {
      width: 100%;
      height: 50px;
      @include style-modal;
    }
  }
}

#btn_chatting {
  z-index: 50;
  position: fixed;
  bottom: 50px;
  right: 50px;
  @include circle(50px);
  border: 2px solid $white;
  background: $primary;
  color: $white;
  font-size: 130%;
  @include shadow;
}