input,
textarea {
  margin: 0;
  padding: 7px;
  width: 100%;
  border: 0;
  background: transparent;
  vertical-align: top;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    background: $white;
    box-shadow: 0 0 0px 1000px $white inset;
  }
}

// 일단은 enroll 전용
input[type="radio"] {
  display: none;
}

// 일단은 인덱스 전용
input[type="checkbox"] {
  display: none;
  & + label:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    @include circle(15px);
    margin-right: 3px;
    background: $white;
    box-sizing: border-box;
  }
  &:checked + label:before {
    background: $primary;
  }
}

.inpt {
  &-gradient {
    display: block;
    border-bottom: 1px solid #aaa;
    & + span:after {
      content: "";
      position: absolute;
      bottom: 1px;
      width: 0;
      height: 2px;
      background: $gradient-point;
      transition: all 0.5s;
    }
  }
  &-outline {
    border: 1px solid $border-default;
    border-radius: 5px;
  }
}

label {
  @include cursor-pointer;
}
