$primary: #FF847C;
$primary-dark: #CB7A9B;
$secondary: #99B898;

$vivid-primary: #7873f5;

// $text-default: #555;
$text-default: #737286;
$text-gray: #A4A6BB;
$text-warining: #e54d26;

$background-default: #E2E5EE;
// $border-default: #D3D8E6;
$border-default: #CBCFDF;

$white: #FFF;
$black: #000;
$lightGray: #eee;

$gradient-default: linear-gradient(to top, #fff1eb 0%, #dedffb 100%);
$gradient-point: linear-gradient(to left, #ec77ab 0%, $vivid-primary 100%);
$gradient-green: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
$gradient-blue: linear-gradient(-225deg, #2cd8d5 0%, #c5c1ff 56%, #ffbac3 100%);

$base-font-family: "Noto Sans KR";
$bold-font-family: "Anton";

$aside-bg: #43455A;
$item-bg:#F8F8F8;

$breakpoints: ("medium": 720px,
  "large": 960px,
  "max": 1440px);