$primary: #FF847C;
$secondary: #99B898;

$vivid-primary: #7873f5;

$text-default: #666;
$text-gray: #aaa;
$text-warining: #e54d26;
$text-placeholder: #888;

$background-default: #f5f5f5;
$border-default: #e6e6e6;

$white: #FFF;
$black: #000;

$gradient-default: linear-gradient(to top, #fff1eb 0%, #dedffb 100%);
$gradient-point: linear-gradient(to left, #ec77ab 0%, $vivid-primary 100%);
$gradient-green: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
$gradient-blue: linear-gradient(-225deg, #2cd8d5 0%, #c5c1ff 56%, #ffbac3 100%);

$base-font-family: "Noto Sans KR";
$bold-font-family: "Anton";

$aside-bg: $gradient-default;

$breakpoints: ("medium": 768px,
  "large": 960px,
  "max": 1440px);